DMS.ServiceTest/Web References/BSCService/BIInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://testdms.bscwin.com/services" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://testdms.bscwin.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://testdms.bscwin.com/services">
      <s:element name="ReadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WriteDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="ReadDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="WriteDataSoapIn">
    <wsdl:part name="parameters" element="tns:WriteData" />
  </wsdl:message>
  <wsdl:message name="WriteDataSoapOut">
    <wsdl:part name="parameters" element="tns:WriteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BIInterfaceSoap">
    <wsdl:operation name="ReadData">
      <wsdl:input message="tns:ReadDataSoapIn" />
      <wsdl:output message="tns:ReadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteData">
      <wsdl:input message="tns:WriteDataSoapIn" />
      <wsdl:output message="tns:WriteDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIInterfaceSoap" type="tns:BIInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="https://testdms.bscwin.com/services/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteData">
      <soap:operation soapAction="https://testdms.bscwin.com/services/WriteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BIInterfaceSoap12" type="tns:BIInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadData">
      <soap12:operation soapAction="https://testdms.bscwin.com/services/ReadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteData">
      <soap12:operation soapAction="https://testdms.bscwin.com/services/WriteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIInterface">
    <wsdl:port name="BIInterfaceSoap" binding="tns:BIInterfaceSoap">
      <soap:address location="https://testdms.bscwin.com/services/BIInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="BIInterfaceSoap12" binding="tns:BIInterfaceSoap12">
      <soap12:address location="https://testdms.bscwin.com/services/BIInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>